*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #1C8394;
}
.navigationMenu{
    background-color:#042940;
    height: 100vh;
    max-width: 100%;
    width: 240px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}
.sidebar li:hover:nth-child(1) {
    background-color: transparent;
    color: #000;
}
.sidebar li {
    padding: 12px;
    cursor: pointer;
    transition: all 0.5s;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: #fff;
}
.sidebar li span:nth-child(1) {
    font-size:2rem ;
    /* margin-top: 20px; */
}
.sideLinks {
    font-size:1.6rem ;
    color: #fff;
}
.sidebar li:hover{
    padding: 12px;
    color: #fff;
    background-color: #EA2C62;
    transition: all 0.5s;
}
.student-class{
    height: 20vh;
    margin: auto;
}